.container {
    background-color: var(--themeColorDark);
    width: 25vw;
    height: calc(100vh - 5rem);
    position: fixed;
    right: -35vw;
    top: 5rem;
    transform: translateX(35vw);
    z-index: 1;
    transition: all 2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.active{
    background-color: var(--themeColorYellow);
    right: 0;
    transform: translateX(0vw);
    transition: all 2s ease;

}

@media screen and (max-width : 930px){
    .container{
        width : 40vw;
    }
}